.App {
  overflow: hidden;
 background-image: url("./images/pexels-miguel-á-padriñán-255379.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
}




